<<<<<<< HEAD
body {
  margin: 0;
  font-family: sans-serif;
}
.title {
  text-align: center;
  margin: 20px 0;
}
#map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#map-and-legend {
  display: flex;
  align-items: flex-start; /* align top edges */
}
#map {
  flex: 1;
  border: 1px solid #ccc;
}
#legend {
  margin-left: 20px;
}
#controls {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#controls label {
  margin-right: 8px;
}
#date-label {
  margin-left: 8px;
  font-weight: bold;
}

#controls button {
  background: #eee;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
}

#controls button.active {
  background: #bbb;
  color: #fff;
=======
body {
  margin: 0;
  font-family: sans-serif;
}
.title {
  text-align: center;
  margin: 20px 0;
}
#map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#map-and-legend {
  display: flex;
  align-items: flex-start; /* align top edges */
}
#map {
  flex: 1;
  border: 1px solid #ccc;
}
#legend {
  margin-left: 20px;
}
#controls {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#controls label {
  margin-right: 8px;
}
#date-label {
  margin-left: 8px;
  font-weight: bold;
}

#controls button {
  background: #eee;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
}

#controls button.active {
  background: #bbb;
  color: #fff;
>>>>>>> master
}